body{
    background-color:#F7F7FF;
}

.html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, .row, .col, div, a, .container-fluid{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.half1{
    width: 50%;
    height: 100vh;
    float: left;
}

.half2{
    width: 50%;
    height: 100vh;
    float: left;
    overflow: hidden;
}
.logo{
    height: auto;
    width:90px;
    margin-left: 40px;
    margin-top: 40px;
}

.mainText{
    color: #6C79DB;
    font-size: 70px;
    width: 30%;
    font-weight: 700;
    margin-left: 20%;
    margin-top: 130px;
}

.input-labels{
    color: #42497C;
    font-size: 16px;
    margin-left: 20%;
    margin-top: 40px;
    font-weight: 700;
}

.error-block{

    width: 60%; 
    height: auto;
 
   color: #FF6174;
    margin-left: 20%;
     margin-top: 20px;
     padding: 5px;
     background-color: #F7F7FF;
     font-weight: bold;
     font-size: 12px;
 }

.login-input{
    background-color: white;
    height: 50px;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    border-radius: 10px;
    border:none;
    padding: 20px;
    color: #42497C;
    font-size: 16px;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.forgot{
    color: #42497C;
    font-size: 16px;
float: right;
margin-top: -20px;
margin-right: 20%;

    font-weight: 300;
    text-align: right;
    cursor: pointer;
    text-decoration: underline;

}

.btn{
    width: 15%;
    height: auto;
    padding: 7px;
    background-color: #6C79DB;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    margin-left: 42%;
    margin-top: 40px;


    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.btn:hover{
background-color: #F7F7FF;
        border:2px solid #6C79DB;
        color: #6C79DB;

}

.new{
    text-align: center;
    font-size: 12px;
    color: #42497C;
    margin-top: 30px;
}

.inactive-btn{
    margin-right: 40px;
    margin-top: 50px;

    width: 15%;
    height: auto;
    padding: 7px;
    color: #6C79DB;
    border:solid 2px #6C79DB;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    float: right;


    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.inactive-btn:hover{
    background-color: #F7F7FF;
        border:3px solid #6C79DB;
}

.btn-active{
    margin-right: 30px;
    margin-top: 50px;

    width: 15%;
    height: auto;
    padding: 9px;
    background-color: #6C79DB;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    float: right;


    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.illustration{
    padding: 50px;
    width: 600px;
    height: auto;
    margin-top: 120px;
    margin-left: 120px;
}

.popup{
    background-color:rgba(0, 0, 0, 0.363);
    width:100%;
    height:100vh;
    position: absolute;
    top:0;
}

.sure{
    background-color:white;
    width:22%;
    margin-left: 39%;
    height:56vh;
    margin-top:22vh;
    border-radius: 30px;
    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    padding:3%;
}

.sure h3{
    color: #6C79DB;
    text-align: center;
    width:100%;
    font-weight: 700;
    margin-top: 50px;
}


.sure p{
    color: #6C79DB;
    text-align: center;
    width:100%;
    margin-top: 60px;
}

.confirmDelete{
    width: 80%;
    height: 40px;
    padding: 7px;
    color: white;
    background-color: #FF6174;
    text-align: center;
    border-radius: 30px;
    margin-top: 60px;
    border: none;
    margin-left:10%;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}


.sendConfirmation{

    width: 100%;
    height: 40px;
    padding: 7px;
    color: white;
    background-color: #FF6174;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    border: none;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);

}

.illustration2{
    width:81%;
    height:240px;
    margin-top: 40px;
    float: left;
    background-image: url(../assets/illustration2.png);
    background-position: center;
    background-size: cover;
    padding: 20px;
}