body{
    background-color:#6C79DB;
}

.html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, .row, .col, div, a, .container-fluid{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.container-fluid{
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
}
 a:hover{
    text-decoration: none;
 }

.vert-nav{
    width: 10%;
    height:100vh;
    float: left;

}

.logo{
    height: auto;
    width:80px;
    margin-left: 38px;
    margin-top: 40px;
}

.bloop{
    height: 40px;
    width: 30px;
position: absolute;
top: 24%;
left: 7.6%;
 
}

.main-card{
    background-color: #F7F7FF;
    width: 90%;
    height: 100vh;
    float: left;

    border-radius: 40px 0px 0px 40px ;

}

.home{
    width: 27px;
    height: auto;
    margin-left: 55px;
    margin-top: 190px;
}

.profile{
    width: 25px;
    height: auto;
    margin-left: 55px;
    margin-top: 150px;
    opacity: 0.7;
}

.profile:hover{
    opacity: 0.9;
    
}

.new{
    width: 25px;
    height: auto;
    margin-left: 55px;
    margin-top: 150px;
    opacity: 0.7;
}

.new:hover{
    opacity: 0.9;
    
}

.exit{
    width: 25px;
    height: auto;
    margin-left: 55px;
    margin-top: 230px;
    opacity: 0.7;
}

.exit:hover{
    opacity: 0.9;
    
}

.section1{
    width: 70%;
    height: 100vh;
    float: left;
    padding: 70px;
}
.section2{
    width: 30%;
    height: 100vh;
    background-color:#DEE0F9;
    float: left;
    padding-top: 70px;
}

.search{
    background-color: white;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border:none;
    padding-left: 20px;
    color: #42497C;
    font-size: 16px;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.search::placeholder{
    color:#42497C;
}

.search-container{
    background-color: #DEE0F9;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    padding-left:4px;
    padding-top:2px;
position:absolute;
top:7.7%;
left: 67%;
border:none;
}

.search-container:hover{
    background-color: #BFC1E0;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    padding-left:4px;
    padding-top:2px;
position:absolute;
top:7.7%;
left: 67%;
border:none;
}

.goodMorningBlock{
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 30px;
    border:none;
    padding: 35px;
    color: #42497C;
    font-size: 16px;
    margin-top: 40px;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.goodMorningBlock h1{
    font-weight: 600;
}

.goodMorningBlock h1 strong{
    color: #FF6174;
    font-weight: 600;
}

.goodMorningBlock p{
    font-weight: 200;
    margin-top: 6px;
}

.schedule{
    color: #42497C;
    font-weight: 600;
    margin-top: 30px;
}

.titles{
    width: 20%;
    float: left;
    margin-top: 15px;
    color: #42497C;
    opacity: 0.7;
}


.appointments{
    width: 100%;
    height: 565px;
    overflow: scroll;
    padding:10px;
}

.appointment{
    background-color: white;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border:none;
    padding: 5px;
    color: #42497C;
    font-size: 16px;
    margin-top: 15px;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.endOfSearch{
    background-color: #6C79DB;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border:none;

    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    padding-top: 14px;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
text-align: center;
margin-bottom: 10px;
}

.showAll{
    width: 24%;
    height: 40px;
    padding: 7px;
    color: white;
    background-color: #FF6174;
    text-align: center;
    border-radius: 30px;
margin-left:38%;
    border: none;


    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.profile-pic{
    background-color:#DEE0F9;
    height: 40px;
    width: 40px;
    float: left;
    border-radius: 6px;
}

.edit{
    background-color:#6C79DB;
    height: 40px;
    width: 40px;
    float: left;
    border-radius: 6px;
    padding:8px;
    margin-left: 34px;
    opacity: 0.7;
}

.edit:hover{
    opacity:1;
}

.delete{
    background-color:#FF6174;
    height: 40px;
    width: 40px;
    float: left;
    border-radius: 6px;
    padding:8px;
    margin-left: 10px;
    opacity: 0.7;
}

.delete:hover{
    opacity:1;
}

.labels1{
    width: 18%;
    float: left;
    margin-top: 10px;
    color: #42497C;
    margin-left: 12px;
}

.labels2{
    width: 20%;
    float: left;
    margin-top: 10px;
    color: #42497C;
}

.labels3{
    width: 20%;
    float: left;
    margin-top: 10px;
    color: #42497C;
    margin-left: 10px;

}

.activeAppointment{
    background-color:#DEE0F9;
}

.labels4{
    width: 20%;
    float: left;
    margin-top: 10px;
    color: #42497C;
    margin-left: 8px;
}

.labels5{
    width: 7%;
    float: left;
    margin-top: 10px;
    color: #42497C;

}

.empty-profile-pic{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #6C79DB;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);

margin:auto;
}

.section2 h2{
    font-weight: 600;
    text-align: center;
    color: #42497C;
    margin-top: 20px;
}

.section2 p{
    text-align: center;
    font-weight: 200;
    color: #42497C;
    margin-top: 5px;
}

.section2 h5{
    color: #42497C;
    font-weight: 600;
    margin-top: 70px;
    margin-left: 40px;
}

.overviewRow{
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    height: 80px;
}

.dateBlock{
    width: 50px;
    height: 70px;
    float: left;
    background-color: #BFC1E0;
color: white;
font-size: 13px;
    margin-left: 14.5px;
    border-radius: 10px;
    text-align: center;padding: 7px;
}

.activeDate{
    width: 53px;
    height: 73px;
    float: left;
    background-color: #42497C;
color: white;
font-size: 13px;
    margin-left: 14.5px;
    border-radius: 10px;
    text-align: center;padding: 7px;
}

.dateNo{

color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.dots-row{
    height: 10px;
    width: auto;
    margin:auto;
}

.dot{
    width: 3px;
    height: 3px;

    background-color: white;
    border-radius: 50%;
    float: left;
    margin-left: 5px;
}

.booking-block{
    width: 500px;
    height: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    position: absolute;
    top: 65%;
    right: 2%;
}

.newBooking{
    background-color: white;
    height: 40px;
    width: 47%;
    border-radius: 10px;
    border:none;
    padding: 20px;
    color: #42497C;
    font-size: 16px;
    float:left;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.docSelect{
    background-color: white;
    height: 40px;
    width: 47%;
    border-radius: 10px;
    border:none;
    padding-left: 2%;
    /* padding: 20px; */
    color: #42497C;

    float:left;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.patSelect{
    background-color: white;
    height: 40px;
    width: 47%;
    border-radius: 10px;
    border:none;
    padding-left: 2%;
    /* padding: 20px; */
    color: #42497C;

    float:left;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}
.add{
    background-color:#DEE0F9;
    height: 30px;
    width: 30px;
    float: left;
    border-radius: 6px;
position: absolute;
top: 35px;
left: 200px;


}

.add img{
    margin-left: 7px;
    margin-top: 5px;
}

.errorBlock{
    color:#FF6174;
    font-weight: 600;
    width:45%;
    float:left;
    margin-left:20px;
    margin-top:30px;
}

.checkBtn{
    width: 45%;
    height: auto;
    padding: 7px;
    color: white;
    background-color: #FF6174;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    margin-left:25%;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.checkBtn:hover{
    width: 45%;
    height: auto;
    padding: 7px;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-left:25%;
    
        color: #FF6174;
        background-color: white;
    
        font-weight: 600;
        border: 2px solid #FF6174;
        text-decoration: none;
    

}

.popup{
    background-color:rgba(0, 0, 0, 0.363);
    width:100%;
    height:100vh;
    position: absolute;
    top:0;
}

.sure{
    background-color:white;
    width:22%;
    margin-left: 39%;
    height:56vh;
    margin-top:22vh;
    border-radius: 30px;
    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    padding:3%;
}

.sure h3{
    color: #6C79DB;
    text-align: center;
    width:100%;
    font-weight: 700;
    margin-top: 50px;
}


.sure p{
    color: #6C79DB;
    text-align: center;
    width:100%;
    margin-top: 60px;
}

.confirmDelete{
    width: 80%;
    height: auto;
    padding: 7px;
    color: white;
    background-color: #FF6174;
    text-align: center;
    border-radius: 30px;
    margin-top: 60px;
    border: none;
    margin-left:10%;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
}

.confirmDelete:hover{
    width: 80%;
    height: auto;
    padding: 7px;

    text-align: center;
    border-radius: 30px;
    margin-top: 60px;
    margin-left:10%;


    color: #FF6174;
    background-color: white;

    font-weight: 600;
    border: 2px solid #FF6174;
    text-decoration: none;

}

.sendConfirmation{

    width: 100%;
    height: 40px;
    padding: 7px;
    color: white;
    background-color: #FF6174;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    border: none;

    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);

}

.sendConfirmation:hover{

    width: 100%;
    height: auto;
    padding: 7px;
    color: #FF6174;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: 600;
    border: 2px solid #FF6174;
    text-decoration: none;

}

.illustration2{
    width:81%;
    height:240px;
    margin-top: 40px;
    float: left;
    background-image: url(../assets/illustration2.png);
    background-position: center;
    background-size: cover;
    padding: 20px;
}